<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	</head>
	<body>
		<th:block th:replace="frag/header :: header(false,true)" ></th:block>
		<h1 class="bg-success">movies</h1>
		
		<ul>
			<li
				th:each="movie : ${movies}"
				th:object="${movie}"
				th:text="${movie.title}"
			>
				
				
			</li>
		</ul>
		
		<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>